# Created by .ignore support plugin (hsz.mobi)
out/
.idea
.gradle
/build/
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
gradle-app.setting
.gradletasknamecache
*.iws
!gradle-wrapper.jar
